*{
    font-family: 'Noto Serif', serif;
    margin: 0;
    padding: 0;
} 
:root{
--default-color: #fa7f72;
}
::selection{
background-color: var(--default-color); 
color: white ; 
}
.navigation{
position: absolute;
bottom: 20px;
left: 50%;
transform: translate(-50%);
display: flex;
}
input{
display: none;
}
a {
color: rgb(200, 125, 230);
text-decoration: none;
transition: 0.3s;
}
  
a:hover {
opacity: 0.7;
}
nav {
display: flex;
justify-content: space-around;
align-items: center;
font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
background: rgba(68, 9, 9, 0.747);
height: 20vh;
}
  
main {
background: #fa7f72;
background-size: cover;
height: 92vh;
}
  
.container{
max-width: 1150px;
background: #f5f5dc;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
display: flex;
align-items: center;
justify-content: space-around;
padding: 40px 30px;
}
.mobile-menu {
display: none;
cursor: pointer;
}
  
.mobile-menu div {
width: 30px;
height: 2px;
background: rgb(200, 125, 230);
margin: 10px;
transition: 0.3s;
}
  
@media (max-width: 999px) {
body {
overflow-x: hidden;
}
}
.nav-list {
position: absolute;
top: 20vh;
right: 0;
width: 40vw;
height: 92vh;
background: #000000;
flex-direction: column;
align-items: center;
justify-content: space-around;
transform: translateX(100%);
transition: transform 0.3s ease-in;
}
.nav-list li {
margin-left: 0;
opacity: 0;
}
.ped{
    background-color: rgb(121, 36, 47);
    border: 1px solid rgb(206, 92, 92);
    border-radius: 12px;
    color: rgb(0, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    /* float: left; */
}
.registro{
    background-color: rgb(121, 36, 47);
    border: 1px solid rgb(206, 92, 92);
    border-radius: 12px;
    color: rgb(0, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    /* float: left; */
}
.consulta{
    background-color: rgb(121, 36, 47);
    border: 1px solid rgb(206, 92, 92);
    border-radius: 12px;
    color: rgb(0, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    /* float: left; */
}
.sair{
    background-color: rgb(121, 36, 47);
    border: 1px solid rgb(206, 92, 92);
    border-radius: 12px;
    color: rgb(0, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    /* float: left; */
}